@tailwind base;
@tailwind components;
@tailwind utilities;

.aspect-video {
  @apply aspect-w-16 aspect-h-9;
}
.aspect-square {
  @apply aspect-w-1 aspect-h-1;
}

html {
  font-family: 'Noto Sans Thai', sans-serif;
}

.toast {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast button {
  background: none;
  border: none;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
}
